.grid-container{
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  margin-top: 8rem;
  background-color: white;
}
.grid-item{
 
  border:1px solid black;
  padding:5rem;
}